.usersContent {
  margin: 20px;
  text-align: center;
}

.usersList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.usersItem {
  padding: 35px;
  flex-basis: 20%;
}

.userPhoto {
  width: 100px;
  height: 100%;
}
