.nav {
  grid-area: n;
  background: cornflowerblue;
  padding: 20px;
  text-align: center;
}

.item {
  margin: 20px;
}

.item a{
  color: #fff;
  text-decoration: none;
}

.item a.activeLink {
  color: gold;
}