.dialogs h2 {
  text-align: center;
}
.dialogsContent {
  display: grid;
  grid-template-columns: 3fr 5fr;
}
.dialogsItems {
  padding: 10px;
}

.dialogsItems .active {
  color: gold;
}

.dialog {
  padding: 10px;
}

.dialog a {
  color: #222;
  font-weight: bold;
  text-decoration: none;
}

.dialog a.activeLink {
  color: #222;
}

.messages {
  padding: 10px;
}

.message {
  color: #111;
}

textarea {
  vertical-align: bottom;
  width: 250px;
  height: 100px;
}
